<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">

	<jaxrs:server id="partnerService" address="/">
		<jaxrs:serviceBeans>
			<ref bean="partnerBean" />
			<ref bean="versionBean" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jsonBeansProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<bean id="partnerBean"
		class="com.ingeint.ws.controller.PartnerController" />
	<bean id="versionBean"
		class="com.ingeint.ws.controller.VersionController" />

	<bean id="jsonBeansProvider"
		class="org.apache.cxf.jaxrs.provider.json.JSONProvider" />
</beans>